.ipynb_checkpoints/
.secret
node_modules/
# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/11155111/
/broadcast/*/80001/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
